body {
  margin: 0px;
  padding: 0px;
}
body .wrapper {
  overflow: hidden;
  margin: 0 auto;
  max-width: 1500px;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrapper .header {
  max-width: 1110px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .wrapper .header img {
  width: 170px;
  height: 16px;
}
body .wrapper .header a {
  text-decoration: none;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .header a:hover {
  text-decoration: none;
  color: gray;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  transition-duration: 0.5s;
}
body .wrapper .header ul {
  display: flex;
  list-style: none;
  column-gap: 37px;
}
body .wrapper .header button {
  width: 158px;
  height: 40px;
  background: #000;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  border: none;
}
body .wrapper .header button:hover {
  width: 158px;
  height: 40px;
  background: #DFDFDF;
  color: #000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  border: none;
  transition-duration: 1s;
}
body .wrapper .header .img2 {
  display: none;
}
body .wrapper .social1 {
  max-width: 1500px;
  width: 100%;
  display: flex;
  background: #000;
}
body .wrapper .social1 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 610px;
  height: 650px;
  background: #000;
}
body .wrapper .social1 .text .tex {
  padding: 0px 30px;
}
body .wrapper .social1 .text .tex .big {
  max-width: 387px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
body .wrapper .social1 .text .tex .small {
  max-width: 387px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .social1 .text .tex .btn {
  margin-top: 48px;
  width: 160px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .wrapper .social1 .text .tex .btn:hover {
  border-bottom: 2px solid whitesmoke;
  transition-duration: 0.5s;
}
body .wrapper .social1 .img {
  background-image: url(/img/ocean.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 890px;
  width: 100%;
  height: 650px;
}
body .wrapper .social2 {
  max-width: 1500px;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}
body .wrapper .social2 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 610px;
  height: 650px;
  background: #ffffff;
}
body .wrapper .social2 .text .tex {
  padding: 0px 30px;
}
body .wrapper .social2 .text .tex .big {
  max-width: 387px;
  width: 100%;
  color: #000000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
body .wrapper .social2 .text .tex .small {
  max-width: 387px;
  width: 100%;
  color: #000000;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .social2 .text .tex .btn {
  margin-top: 48px;
  width: 200px;
  color: #000000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .wrapper .social2 .text .tex .btn:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  transition-duration: 0.5s;
}
body .wrapper .social2 .img {
  background-image: url(/img/notebook.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 890px;
  width: 100%;
  height: 650px;
}
body .wrapper .social3 {
  max-width: 1500px;
  width: 100%;
  display: flex;
}
body .wrapper .social3 .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 610px;
  height: 650px;
  background: #ffffff;
}
body .wrapper .social3 .text .tex {
  padding: 0px 30px;
}
body .wrapper .social3 .text .tex .big {
  max-width: 387px;
  width: 100%;
  color: #000000;
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
body .wrapper .social3 .text .tex .small {
  max-width: 387px;
  width: 100%;
  color: #000000;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}
body .wrapper .social3 .text .tex .btn {
  margin-top: 48px;
  width: 200px;
  color: #000000;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .wrapper .social3 .text .tex .btn:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  transition-duration: 0.5s;
}
body .wrapper .social3 .img {
  background-image: url(/img/fotograf.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 890px;
  width: 100%;
  height: 650px;
}
body .wrapper .carts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .wrapper .carts .a1 {
  max-width: 750px;
  width: 100%;
  display: flex;
}
body .wrapper .carts .a1 .cart1 {
  padding: 0px 5px;
  max-width: 345px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/mountain.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body .wrapper .carts .a1 .cart1 .big {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .carts .a1 .cart1 .small {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .carts .a1 .cart1 .text {
  max-width: 270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid whitesmoke;
}
body .wrapper .carts .a1 .cart1 .text p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .carts .a1 .cart1:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .carts .a1 .cart2 {
  padding: 0px 5px;
  max-width: 345px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/city.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body .wrapper .carts .a1 .cart2 .big {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .carts .a1 .cart2 .small {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .carts .a1 .cart2 .text {
  max-width: 270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid whitesmoke;
}
body .wrapper .carts .a1 .cart2 .text p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .carts .a1 .cart2:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .carts .a2 {
  max-width: 750px;
  width: 100%;
  display: flex;
}
body .wrapper .carts .a2 .cart3 {
  padding: 0px 5px;
  max-width: 345px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/soya.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body .wrapper .carts .a2 .cart3 .big {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .carts .a2 .cart3 .small {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .carts .a2 .cart3 .text {
  max-width: 270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid whitesmoke;
}
body .wrapper .carts .a2 .cart3 .text p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .carts .a2 .cart3:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .carts .a2 .cart4 {
  padding: 0px 5px;
  max-width: 345px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  background-image: url(/img/kolizey.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
body .wrapper .carts .a2 .cart4 .big {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .carts .a2 .cart4 .small {
  max-width: 270px;
  width: 100%;
  color: #FFF;
  font-family: DM Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body .wrapper .carts .a2 .cart4 .text {
  max-width: 270px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid whitesmoke;
}
body .wrapper .carts .a2 .cart4 .text p {
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
body .wrapper .carts .a2 .cart4:hover {
  transition-duration: 2s;
  transform: translateY(-30px);
}
body .wrapper .cards {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 1110px;
  width: 100%;
  flex-wrap: wrap;
}
body .wrapper .cards .card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrapper .cards .card1 img {
  width: 72px;
  height: 72px;
}
body .wrapper .cards .card1 .big {
  max-width: 350px;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .cards .card1 .small {
  max-width: 350px;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .cards .card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrapper .cards .card2 img {
  width: 72px;
  height: 72px;
}
body .wrapper .cards .card2 .big {
  max-width: 350px;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .cards .card2 .small {
  max-width: 350px;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .cards .card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .wrapper .cards .card3 img {
  width: 72px;
  height: 72px;
}
body .wrapper .cards .card3 .big {
  max-width: 350px;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .cards .card3 .small {
  max-width: 350px;
  color: #000;
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
}
body .wrapper .footer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 64px;
  width: 100%;
  height: 122px;
  background: black;
}
body .wrapper .footer .b {
  display: flex;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
}
body .wrapper .footer .b .icon {
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper .footer .b .icon img {
  width: 170px;
  height: 16px;
}
body .wrapper .footer .b .icon ul {
  display: none;
}
body .wrapper .footer .b .icon .icons {
  width: 154px;
  height: 20px;
  display: flex;
  justify-content: space-between;
}
body .wrapper .footer .b .icon .icons .facebook svg path {
  fill: #FFF;
}
body .wrapper .footer .b .icon .icons .facebook svg path:hover {
  transition: 0.5s;
  fill: #6028F1;
}
body .wrapper .footer .b .icon .icons .youtube svg path {
  fill: #FFF;
}
body .wrapper .footer .b .icon .icons .youtube svg path:hover {
  transition: 0.5s;
  fill: #FF5A5A;
}
body .wrapper .footer .b .icon .icons .twitter svg path {
  fill: #FFF;
}
body .wrapper .footer .b .icon .icons .twitter svg path:hover {
  transition: 0.5s;
  fill: #27718A;
}
body .wrapper .footer .b .icon .icons .p svg path {
  fill: #FFF;
}
body .wrapper .footer .b .icon .icons .p svg path:hover {
  transition: 0.5s;
  fill: #DE3838;
}
body .wrapper .footer .b .icon .icons .insta svg path {
  fill: #FFF;
}
body .wrapper .footer .b .icon .icons .insta svg path:hover {
  transition: 0.5s;
  fill: #6028F1;
}
body .wrapper .footer .b ul {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 122px;
  list-style: none;
}
body .wrapper .footer .b a:hover {
  transition: 0.5s;
  color: gray;
}
body .wrapper .footer .b a {
  text-decoration: none;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
body .wrapper .footer .b .featur {
  background: #000;
  height: 122px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper .footer .b .featur .btn {
  margin-top: 0px;
  width: 160px;
  color: #FFF;
  font-family: DM Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body .wrapper .footer .b .featur .btn:hover {
  border-bottom: 2px solid whitesmoke;
  transition-duration: 0.5s;
}
body .wrapper .footer .b .featur .res {
  margin: 0px;
  color: #FFF;
  text-align: right;
  font-family: DM Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (max-width: 1125px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  body .wrapper {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1500px;
    height: max-content;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .carts {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  body .wrapper .carts .a1 {
    max-width: 1124px;
    width: 100%;
    display: flex;
  }
  body .wrapper .carts .a1 .cart1 {
    padding: 0px 5px;
    max-width: 550px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/mountain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a1 .cart1 .big {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a1 .cart1 .small {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a1 .cart1 .text {
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a1 .cart1 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a1 .cart1:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .carts .a1 .cart2 {
    padding: 0px 5px;
    max-width: 550px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/city.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a1 .cart2 .big {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a1 .cart2 .small {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a1 .cart2 .text {
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a1 .cart2 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a1 .cart2:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .carts .a2 {
    max-width: 1124px;
    width: 100%;
    display: flex;
  }
  body .wrapper .carts .a2 .cart3 {
    padding: 0px 5px;
    max-width: 550px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/soya.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a2 .cart3 .big {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a2 .cart3 .small {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a2 .cart3 .text {
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a2 .cart3 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a2 .cart3:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .carts .a2 .cart4 {
    padding: 0px 5px;
    max-width: 550px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/kolizey.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a2 .cart4 .big {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a2 .cart4 .small {
    max-width: 270px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a2 .cart4 .text {
    max-width: 270px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a2 .cart4 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a2 .cart4:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
}
@media (max-width: 768px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  body .wrapper {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1500px;
    height: max-content;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .footer {
    margin-top: 100px;
    display: flex;
    padding: 30px 64px;
    width: 100%;
    height: 122px;
    background: black;
  }
  body .wrapper .footer .b {
    display: flex;
    justify-content: space-between;
    max-width: 1110px;
    width: 100%;
  }
  body .wrapper .footer .b .icon {
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .wrapper .footer .b .icon img {
    width: 170px;
    height: 16px;
  }
  body .wrapper .footer .b .icon ul {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    list-style: none;
    padding: 0px;
    gap: 20px;
  }
  body .wrapper .footer .b .icon .icons {
    width: 154px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  body .wrapper .footer .b .icon .icons .facebook svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .facebook svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .b .icon .icons .youtube svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .youtube svg path:hover {
    transition: 0.5s;
    fill: #FF5A5A;
  }
  body .wrapper .footer .b .icon .icons .twitter svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .twitter svg path:hover {
    transition: 0.5s;
    fill: #27718A;
  }
  body .wrapper .footer .b .icon .icons .p svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .p svg path:hover {
    transition: 0.5s;
    fill: #DE3838;
  }
  body .wrapper .footer .b .icon .icons .insta svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .insta svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .b ul {
    max-width: 500px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 122px;
    list-style: none;
  }
  body .wrapper .footer .b a {
    text-decoration: none;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  body .wrapper .footer .b .featur {
    background: #000;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  body .wrapper .footer .b .featur .btn {
    margin-top: 0px;
    width: 160px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body .wrapper .footer .b .featur .btn:hover {
    border-bottom: 2px solid whitesmoke;
    transition-duration: 0.5s;
  }
  body .wrapper .footer .b .featur .res {
    margin: 0px;
    color: #FFF;
    text-align: right;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 675px) {
  body {
    margin: 0px;
    padding: 0px;
  }
  body .wrapper {
    margin: 0 auto;
    max-width: 1500px;
    height: max-content;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .header {
    max-width: 1110px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body .wrapper .header img {
    width: 170px;
    height: 16px;
  }
  body .wrapper .header a {
    text-decoration: none;
    color: #000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .header a:hover {
    text-decoration: none;
    color: gray;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    transition-duration: 0.5s;
  }
  body .wrapper .header ul {
    display: none;
    list-style: none;
    column-gap: 37px;
  }
  body .wrapper .header button {
    display: none;
    width: 158px;
    height: 40px;
    background: #000;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    border: none;
  }
  body .wrapper .header .img2 {
    width: 20px;
    height: 6px;
    display: inline;
  }
  body .wrapper .social1 {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  body .wrapper .social1 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 610px;
    width: 100%;
    height: 400px;
  }
  body .wrapper .social1 .text .tex {
    padding: 0px 30px;
  }
  body .wrapper .social1 .text .tex .big {
    max-width: 387px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: 3.333px;
    text-transform: uppercase;
  }
  body .wrapper .social1 .text .tex .small {
    max-width: 387px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .social1 .text .tex .btn {
    margin-top: 48px;
    width: 160px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body .wrapper .social1 .text .tex .btn:hover {
    border-bottom: 2px solid whitesmoke;
    transition-duration: 0.5s;
  }
  body .wrapper .social1 .img {
    background-image: url(/img/ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 890px;
    width: 100%;
    height: 650px;
  }
  body .wrapper .social2 {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  body .wrapper .social2 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 610px;
    width: 100%;
    height: 400px;
  }
  body .wrapper .social2 .text .tex {
    padding: 0px 30px;
  }
  body .wrapper .social2 .text .tex .big {
    max-width: 387px;
    width: 100%;
    color: #000000;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: 3.333px;
    text-transform: uppercase;
  }
  body .wrapper .social2 .text .tex .small {
    max-width: 387px;
    width: 100%;
    color: #000000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .social2 .text .tex .btn {
    margin-top: 48px;
    width: 190px;
    color: #000000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body .wrapper .social2 .text .tex .btn:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    transition-duration: 0.5s;
  }
  body .wrapper .social2 .img {
    background-image: url(/img/notebook.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 890px;
    width: 100%;
    height: 650px;
  }
  body .wrapper .social3 {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  body .wrapper .social3 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 610px;
    width: 100%;
    height: 400px;
  }
  body .wrapper .social3 .text .tex {
    padding: 0px 30px;
  }
  body .wrapper .social3 .text .tex .big {
    max-width: 387px;
    width: 100%;
    color: #000000;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: 3.333px;
    text-transform: uppercase;
  }
  body .wrapper .social3 .text .tex .small {
    max-width: 387px;
    width: 100%;
    color: #000000;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */
  }
  body .wrapper .social3 .text .tex .btn {
    margin-top: 48px;
    width: 190px;
    color: #000000;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body .wrapper .social3 .text .tex .btn:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
    transition-duration: 0.5s;
  }
  body .wrapper .social3 .img {
    background-image: url(/img/fotograf.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 890px;
    width: 100%;
    height: 650px;
  }
  body .wrapper .carts {
    max-width: 1500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  body .wrapper .carts .a1 {
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .carts .a1 .cart1 {
    padding: 0px 30px;
    max-width: 650px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/mountain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a1 .cart1 .big {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a1 .cart1 .small {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a1 .cart1 .text {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a1 .cart1 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a1 .cart1:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .carts .a1 .cart2 {
    padding: 0px 30px;
    max-width: 650px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/city.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a1 .cart2 .big {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a1 .cart2 .small {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a1 .cart2 .text {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a1 .cart2 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a1 .cart2:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .carts .a2 {
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .wrapper .carts .a2 .cart3 {
    padding: 0px 30px;
    max-width: 650px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/soya.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a2 .cart3 .big {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a2 .cart3 .small {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a2 .cart3 .text {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a2 .cart3 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a2 .cart1:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .carts .a2 .cart4 {
    padding: 0px 30px;
    max-width: 650px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-image: url(/img/kolizey.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  body .wrapper .carts .a2 .cart4 .big {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
  }
  body .wrapper .carts .a2 .cart4 .small {
    max-width: 600px;
    width: 100%;
    color: #FFF;
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  body .wrapper .carts .a2 .cart4 .text {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid whitesmoke;
  }
  body .wrapper .carts .a2 .cart4 .text p {
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  body .wrapper .carts .a2 .cart2:hover {
    transition-duration: 2s;
    transform: translateY(-30px);
  }
  body .wrapper .footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 30px 64px;
    width: 100%;
    height: max-content;
    background: black;
  }
  body .wrapper .footer .b {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1110px;
    width: 100%;
  }
  body .wrapper .footer .b .icon {
    height: 122px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: flex-start;
    align-items: center;
  }
  body .wrapper .footer .b .icon img {
    width: 170px;
    height: 16px;
  }
  body .wrapper .footer .b .icon ul {
    display: none;
  }
  body .wrapper .footer .b .icon .icons {
    text-align: center;
    width: 154px;
    height: 20px;
    display: flex;
    justify-content: space-between;
  }
  body .wrapper .footer .b .icon .icons .facebook svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .facebook svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .b .icon .icons .youtube svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .youtube svg path:hover {
    transition: 0.5s;
    fill: #FF5A5A;
  }
  body .wrapper .footer .b .icon .icons .twitter svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .twitter svg path:hover {
    transition: 0.5s;
    fill: #27718A;
  }
  body .wrapper .footer .b .icon .icons .p svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .p svg path:hover {
    transition: 0.5s;
    fill: #DE3838;
  }
  body .wrapper .footer .b .icon .icons .insta svg path {
    fill: #FFF;
  }
  body .wrapper .footer .b .icon .icons .insta svg path:hover {
    transition: 0.5s;
    fill: #6028F1;
  }
  body .wrapper .footer .b ul {
    text-align: center;
    max-width: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 122px;
    list-style: none;
    padding: 0px;
  }
  body .wrapper .footer .b a {
    text-decoration: none;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  body .wrapper .footer .b .featur {
    background: #000;
    height: 122px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  body .wrapper .footer .b .featur .btn {
    text-align: center;
    margin-top: 0px;
    width: 160px;
    color: #FFF;
    font-family: DM Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  body .wrapper .footer .b .featur .btn:hover {
    border-bottom: 2px solid whitesmoke;
    transition-duration: 0.5s;
  }
  body .wrapper .footer .b .featur .res {
    margin: 0px;
    color: #FFF;
    text-align: right;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}/*# sourceMappingURL=style.css.map */